* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  height: 50px;
  width: 50px;
  background: #da0707;
  margin: 100px;
  border-style: dotted;
  border-width: 100px;
  border-color: rgb(0, 0, 0) rgb(6, 227, 43) black rgb(6, 227, 43);
  border-radius: 50%;
  outline-style: solid;
  outline-width: 50px;
  outline-color: rgb(77, 82, 78);

  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}
@keyframes ben {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
.box:hover {
  animation-name: ben;
  scale: 1.2;
  rotate: 180deg;
  outline-width: 25px;
  transition-duration: 1s;
}


h1 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 20px;
  word-spacing: 5px;
  letter-spacing: 1.2px;
  line-height: 25px;
  text-indent: 10px;
  text-transform: uppercase;
  text-decoration: double underline brown ;
}
a{
  font-size: 100px;
}
a:link{
    color: green;
    text-decoration: none;
   
}
a:hover{
  margin-left: 100px;

  text-align: center;
  text-shadow: #da0707;
}
a:active{
  color: aqua;

}
img{
  height: 150px;
  position: absolute;
  left:150px;
  top:120px;
  transition-duration: 1s;
 
  animation-duration: 3s;
  
}
@keyframes alien {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  
  }
}